/*// see https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
// see http://fxexperience.com/2011/12/styling-fx-buttons-with-css/ */

#calculator {
	-fx-background-color:#00ff00;
}

#calculator .grey {
	-fx-background-color:#ff00ff;
}

/* LABELS */

Label {
    -fx-text-fill: #660000;
    -fx-font-size: 30;

}

#lbl1 {
    -fx-background-color: #996633;
}

#lbl2 {
    -fx-background-color: #996633;
}

/* BUTTONS */

Button {
    -fx-border-color: #477887;
}

Button:hover {
    -fx-border-color: #ffb732;
}

#bttn0 {
    -fx-background-color: #339933;
}

#bttn1 {
    -fx-background-color: #339933;
}

#bttn2 {
    -fx-background-color: #339933;
}

#bttn3 {
    -fx-background-color: #339933;
}

#bttn4 {
    -fx-background-color: #339933;
}

#bttn5 {
    -fx-background-color: #339933;
}

#bttn6 {
    -fx-background-color: #339933;
}

#bttn7 {
    -fx-background-color: #339933;
}

#bttn8 {
    -fx-background-color: #339933;
}

#bttn9 {
    -fx-background-color: #339933;
}

#bttnPlus {
    -fx-background-color: #0099CC;
}

#bttnMinus {
    -fx-background-color: #0099CC;
}

#bttnDivide {
    -fx-background-color: #0099CC;
}

#bttnMultiply {
    -fx-background-color: #0099CC;
}

#bttnEnter {
    -fx-background-color: #0099CC;
}

#bttnClear {
    -fx-background-color: #0099CC;
}

#bttnComma {
    -fx-background-color: #0099CC;
}

#bttnNegative {
    -fx-background-color: #0099CC;
}